*{
    font-family: 'Lato', sans-serif;
}

.bg-primary-color{
    background-color: #fff;
}

.bg-secondary-color{
    background-color: #ece8ea;
}

.bg-dark-color{
    background-color: #050505;
}

.primary-color{
    background-color: #050505;
}

.secondary-color{
    background-color: #7a7a7a;
}

/* ========= NAVBAR ======== */
/* 
#navbar{
    border-bottom: 1px solid #050505;
} */

#navbar a{
  color: #585757;
}

#navbar a:hover{
    color: #7a7a7a;
}

#navbar .active {
    border-bottom: 1px solid #383737;
}
  
.navbar-brand {
  display: flex;
}
  
.navbar-brand img {
  width: 50px;
}
  
.navbar-brand span {
  font-weight: 700;
  font-size: 1.5em;
  margin-left: 0.5em;
}
  
#navbar-items .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}
  
#navbar-items .nav-item {
  margin: 0 1em;
}

/* ============ slider ============== */

#slider{
  margin-top: 8em;
  margin-bottom: 1em;
}

#slider .carousel-caption{
  bottom: 3em;
}


#slider .carousel-caption h5{
  font-size: 2.5em;
  text-shadow: #000 2px 2px;
}

.btn{
  border-radius: 0;
}

.carousel-control-prev,
.carousel-control-next{
  opacity: 0.7;
}

.carousel-control-prev i,
.carousel-control-next i{
  color: #111;
  font-size: 3em;
}

.carousel-indicators [data-bs-target]{
  background-color: rgba(34, 34, 34, 0.651);
  opacity: 0.9;
}

.carousel-indicators .active{
  background-color: #fff;
}

@media (min-width: 768px) {
  #slider .carousel-caption{
    bottom: 15em;
  }
  
  #slider .carousel-caption h5{
    font-size: 4em;
    text-shadow: #000 2px 3px;
  }

  #slider .btn{
    padding: 0.6em 1.6em;
    font-size: 1.2em;
    margin-top: 1em;
  }
  
  .carousel-indicators{
    bottom: 7em;
  }
}

/* acertando mini banners */

#mini-banners{
  margin-bottom: 4em;
}

#mini-banners .card{
  padding: 2em 0.3em;
  border-radius: 0;
  margin-bottom: 1em;
}

#mini-banners i{
  font-size: 4em;
}

#mini-banners .card-title{
  margin-bottom: 1.5em;
}

#mini-banners .btn{
  margin-top: 1.5em;
  padding: 0.6em 1.2em;
}

@media (min-width: 768px) {
  #mini-banners{
    margin-top: -6em;
  }
}

/* projetos em destaque */

#featured-container{
  margin-bottom: 4em;
}

.title{
  font-size: 1,75em;
  margin-bottom: 0.4em;
  position: relative;
}

.title::before{
  width: 75px;
  /* border-top: 4px solid #7a7a7a; */
  content: '';
  position: absolute;
  bottom: 2em;
}

#feauture-images{
  margin-top: 2em;
}

#featured-images .col-md-4{
  position: relative;
  cursor: pointer;
}

#featured-images .col-md-4:hover > .banner-content{
  opacity: 0.8;
}

#featured-images .banner-content{
  position: absolute;
  top: 0;
  left:0;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  display: flex;
  transition: 0.5s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

@media (min-width: 768px) {
  .title{
    font-size: 2.4em;
  }

  .title::before{
    bottom: 1.5em;
  }

  #featured-images .banner-content{
    opacity: 0;
  }
}